body{
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #699ecc, #94e5ea);
  color: #333;
  text-align: center;
  margin:0;
  padding:0;
}
.app{
  max-width:600px;
  margin:50px auto;
  background: #fff;
  padding:20px;
  border-radius:10px;
}
input{
  padding:10px;
  width:70%;
  margin:10px 0;
  border:1px solid #ccc;
  border-radius:20px;
}
button{
  padding:10px 15px;
  border: none;
  background: #02427a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
button:hover{
  background: #33a0a0;
}
.current{
  font-size:1.5em;
  margin-bottom:20px;
  border:2px solid #444;
  padding:10px;
  border-radius:8px;
  background-color:#e5ff7c;
}
.forecast-day{
  background: #79c7e8;
  margin:10px;
  padding:15px;
  border-radius:8px;
}
.forecast-day img{
  width:80px;
  height:80px;
}